%h1 About

%p
  Created with the help of friends and consultants, Kindreply is owned and operated by
  = succeed '.' do
    = link_to 'Zach&nbsp;Rose'.html_safe, 'http://zachrose.biz', class: 'do_this_next'

%p It was originally developed as a website to collect responses to a wedding invitation. It was recently rewritten so anybody could have their own version of that website.

%p It will be funded by Zach Rose until it becomes self-sustaining and will have no investors, no outside equity ownership and no plans to be sold or go public in the future.

= link_to '⬅', :back

= render partial: 'shared/homepage_footer'
