%h1= @status

- if @status == "404"
  %p The thing you're looking for doesn't exist at this web address.
  %p If you typed in this web address, please double check your spelling.
  %p 
    If it still doesn't work, please
    = link_to('let us know', '/help', class: 'do_this_next' )
    and we will try to help.

- if @status == "500"
  %p Sorry, something has failed on our end.
  %p This failure has been recorded. We will look into it soon.

