.homepage
  %h1 Kindreply 

  %p=t('start.what')
  %p=t('start.what_not')
  - link = link_to(t("start.try_it_link"), tour_path(page:1), class: 'do_this_next')
  %p=t("start.try_it", :link => link).html_safe

  = render partial: 'shared/homepage_footer'
