%h1 Privacy

%p Kindreply collects information from you when you register on our site or fill out a form. 

%p When registering or creating an event site on Envelope, you may be asked to enter your e-mail address and credit card information. As a registered user you can customize your event site by entering details about your event and names of your guests.

%p As a guest of an event, you may enter your name, your reply to an invitation, and replies on behalf of other guests in your party. Guests are neither required nor prompted to register or sign in.

%p We collect this information for use in the following ways:

%ul
  %li To personalize the experience of your guests.
  %li To improve our website, which may include looking at overall usage trends, reviewing individual experiences, and responding to customer service requests and support needs.
  %li To send emails. The email address you provide at registration will only be used to send you information and updates pertaining to your events.
  %li
    To process transactions. Any credit card information entered into this website is securely sent to our payments processor without being transmitted to or stored on our servers.


%p We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information. 

%p We may use cookies to maintain your session when your logged in as a registered user.

%p We do not sell, trade, or otherwise transfer to outside parties your entered information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety.

%p We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.

%p This online privacy policy applies only to information collected through our website and not to information collected offline.

%p By using our site, you consent to our websites privacy policy.

%p If we decide to change our privacy policy, we will post those changes on this page, and/or update the Privacy Policy modification date below. 

%p This policy was last modified on July 5, 2016

-# %p If there are any questions regarding this privacy policy you may contact us using the information below. 
-# 
-# %address
-#   Envelope
-#   %br
-#   1402 3rd Avenue
-#   %br
-#   Suite 505
-#   %br
-#   Seattle, WA 98101
-#   %br
-# %a{href: 'mailto:zach@zachrose.biz'}
-#   zach@zachrose.biz
-#   %br
-# %a{href: 'tel: 12064122551'}
-#   +1 (206) 412-2551


= link_to '⬅', :back, class: 'do_this_next'

= render partial: 'shared/homepage_footer'
