%main
  .page.new_party
  
    %h2= t :edit_party
    
    - if @party.errors.any?
      - party.errors.each do |e|
        %p= e.inspect
    
    = form_for @party, url: :party_patch do |party_form|
      
      = party_form.hidden_field :main_event_id, value: @event.id
      
      - @event.companion_events.each do |event|
        .field.invite_to
          - name = "invitations[event][#{event.id}]"
          = hidden_field_tag(name, 'no')
          - saved_guests = @party.guests.reject(&:new_record?)
          - invited = saved_guests.all? {|g| g.invited_to?(event)}
          = check_box_tag(name, 'yes', invited)
          = label_tag(name, t(:invite_to, {kind: event.kind }))
      
      - @party.guests.each.with_index do |guest, index|
        = party_form.fields_for :guests, guest do |guest_form|
          - first = index == 0
          - disabled = (guest.new_record? && !first)
          %fieldset.guest{disabled: disabled}
            .field.name
              .subfield.first_name
                = guest_form.label :first_name, t(:first_name)
                = guest_form.text_field :first_name, disabled: disabled
              .subfield.last_name
                = guest_form.label :last_name, t(:last_name)
                = guest_form.text_field :last_name, disabled: disabled
            = guest_form.hidden_field :id, disabled: disabled
            - name = "invitations[ok]"
            = hidden_field_tag(name, 'ok', disabled: disabled)
      %p
        %a.add_another_guest{href:'javascript:void(0)'}= t(:add_another_guest)
        
        
      %input{type: 'submit', value: t(:save_party)}
      