.page.message_new
  = form_for @message, url: message_create_path do |message_form|

    = message_form.hidden_field :main_event_id, value: @message.main_event_id
    = message_form.hidden_field :first_name, value: @message.first_name
    = message_form.hidden_field :last_name, value: @message.last_name

    .field
      - greeting = t('hi_guest', name: @message.first_name)
      = message_form.label :body, t('hello_please_leave_a_message', greeting: greeting)
      = message_form.text_area :body, id: 'body'
    .field
      = message_form.submit t('send')