.page.replyset_create
  - @reply_set.events.each do |event|
  
    - if @reply_set.any_attending?(event) && @reply_set.any_not_attending?(event)
      - translation_key = @reply_set.translation_key(event, :coming)+'_at'
      - translation_hash = {guest_sentence: @reply_set.guest_sentence(event, :coming), kind: event.kind}
      %p
        = t(translation_key, translation_hash)
        - translation_key = @reply_set.translation_key(event, :not_coming)
        - translation_hash = {guest_sentence: @reply_set.guest_sentence(event, :not_coming), kind: event.kind}
        = t(translation_key, translation_hash)
  
    - elsif @reply_set.any_attending?(event)
      - translation_key = @reply_set.translation_key(event, :coming)+'_at'
      - translation_hash = {guest_sentence: @reply_set.guest_sentence(event, :coming), kind: event.kind}
      %p
        = t(translation_key, translation_hash)
  
    - elsif @reply_set.any_not_attending?(event)
      - translation_key = @reply_set.translation_key(event, :not_coming)+'_at'
      - translation_hash = {guest_sentence: @reply_set.guest_sentence(event, :not_coming), kind: event.kind}
      %p
        = t(translation_key, translation_hash)

  - if @reply_set.all_empty_replies?
    %p= t(:nobody_coming_nor_not_coming)
  
  - @reply_set.events.map(&:info).compact.each do |info|
    %p= info.html_safe