.page.hello
  = form_tag("#{request.params['event']}/attendance", method: 'post') do
    = hidden_field_tag :event, request.params['event']
    = label_tag :name, I18n.t('name_please')
    .name
      = text_field_tag :first_name, '', autofocus: true
      = text_field_tag :last_name, ''
    = submit_tag t('continue'), id: 'submit'