-  autofocus = false

.page.replyset_new

  %p= t 'hi_guest', name: @guest.familiar_name

  - e = request.params['event']
  = form_for @reply_set, url: "/#{e}/confirmation" do |reply_set_form|

    = reply_set_form.hidden_field :guest_id, value: @guest.id

    - last_guest = nil
    = reply_set_form.fields_for :replies do |reply_form|
    
      - event = reply_form.object.event
      - guest = reply_form.object.guest
      - kind  = reply_form.object.event.kind
      - first_for_guest = (last_guest != guest) ? "first_for_guest" : ""
      - unknown_name = (guest.unknown_name) ? "unknown_name" : ""
      - classNames = [first_for_guest, unknown_name].join(' ')

      .field{class: classNames }
        
        - last_guest = guest
        - if guest == @guest # talking to you
          - if first_for_guest
            = reply_form.label :status, t('are_you_coming_to_the', kind: kind), class: 'question'
          - else
            = reply_form.label :status, t('and_coming_to_the', kind: kind), class: 'question'
        - else # talking about someone else
          - name = guest.familiar_name
          - if first_for_guest
            - if guest.unknown_name
              = reply_form.label :status, t('bringing_guest', name: name, kind: kind), class: 'question'
            - else
              = reply_form.label :status, t('is_guest_coming_to_the', name: name, kind: kind), class: 'question'
            
          - else
            = reply_form.label :status, t('and_coming_to_the', kind: kind), class: 'question'
        .answer
          = reply_form.hidden_field(:guest_id)
          = reply_form.hidden_field(:event_id)
          = reply_form.radio_button :status, true, autofocus: autofocus
          - autofocus = false
          = reply_form.label :status_true, t('yes')
          = reply_form.radio_button :status, false
          = reply_form.label :status_false, t('no')
        
        - if guest.unknown_name
          .field.name
            = reply_form.label :status, t('what_their_name'), class: 'question'
            .answer
              = reply_form.text_field :unknown_name, id: 'what_their_name'

    = reply_set_form.submit t('next')