%main
  .page.guests
    .actions
      = link_to guest_new_path(@event), {class: 'btn'} do
        = t(:add_guest)
      = link_to party_new_path(@event), {class: 'btn'} do
        = t(:add_party)
    - if @event.parties.empty?
      %p=t :no_guests_yet
    - else
      %table
        %thead
          - column_count = (@event.companion_events.count + 2)
          - column_class = "with_"+([column_count, 4].min).to_s+"_columns"
          %tr{class: column_class}
            %th.name= t :name
            %th.event
              = t(:status, kind: @event.kind)
            -@event.companion_events.each do |event|
              %th.event
                = t(:status, kind: event.kind)
        - @event.parties.each do |party|
          %tbody.party{id: party.id }
            %tr.party{class: column_class}
              - count = @event.companion_events.count + 1
              %td{ colspan: count+1 }
                = party.name
                %span.edit
                  = link_to t(:edit_this_party), party_edit_path(@event, party)
            - party.guests.each do |guest|
              %tr.guest{data: {guest_id: guest.id}, class: column_class}
                - if guest.full_name
                  %td.name= guest.full_name
                - else
                  %td.name.unknown= t(:unknown_guest_full_name)
                %td.status{data: {status: guest.status_for(@event),event_id: @event.id}}
                  %span.status= t(guest.status_for(@event))
                  %span.edit
                    = link_to t(:edit_this_status), 'javascript:;'
                    .options
                      = t(:mark_as)
                      %button.confirmed= t(:confirmed)
                      %button.declined= t(:declined)
                      %button.unknown= t(:unknown)
                      
                -@event.companion_events.each do |event|
                  %td.status{data: {status: guest.status_for(event),event_id: event.id}}
                    %span.status= t(guest.status_for(event))
                    %span.edit
                      = link_to t(:edit_this_status), 'javascript:;'
                      .options
                        = t(:mark_as)
                        %button.confirmed= t(:confirmed)
                        %button.declined= t(:declined)
                        %button.unknown= t(:unknown)