%h2=t :sign_up

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    = f.email_field :email, autofocus: true, required: true
  .field
    = f.label :password
    = f.password_field :password, required: true
  .field
    = f.label :first_event_short_name
    = f.text_field :first_event_short_name, required: true, pattern: "[0-9a-zA-Z-]*"
    %p.explain= t :this_spaces_and_punctuation
    %aside=t :first_event_field_aside
  .field= f.submit "Sign up"
= render "devise/shared/links"