.page.guests
  table
    width: 100%
  .with_2_columns
    th, td
      width: 50%
  .with_3_columns
    th, td
      width: 33.3333333%
  .with_4_columns
    th, td
      width: 25%
  th.event
    text-align: left
  th.name
    visibility: hidden
  tr.party
    border-bottom: 1px solid $rule_color
    font-weight: 500
    td
      padding-top: 1em
  tbody.party:target tr.guest
    background: $notice
    animation: fadeOutBackground 1s
    animation-fill-mode: forwards
    -webkit-animation: fadeOutBackground 1s
    -webkit-animation-fill-mode: forwards
  tr.guest .name.unknown
    font-style: italic

.guest .status .edit
  .options
    display: none
  &.show_options
    position: relative
    .options
      position: absolute
      z-index: 1
      left: 3em
      top: 0
      padding: 0.25em
      display: block
      background: white
      border: 1px solid $rule_color
      padding-top: 0.5em
      button
        margin-bottom: 0.25em
        width: 100%
        &:first-of-type
          margin-top: 0.5em
        &:last-of-type
          margin-bottom: 0

.edit a
  color: gray
  font-size: 75%
  padding-left: 0.125em
  &:before
    content: '('
  &:after
    content: ')'

@keyframes fadeOutBackground
  from
    background-color: auto
  to
    background-color: transparent

@-webkit-keyframes fadeOutBackground
  from
    background-color: auto
  to
    background-color: transparent

.page.new_party, .page.new_guest
  .guest
    display: block
  .guest:disabled
    display: none
  .field
    .subfield
      margin-right: 0.5em
      width: auto
      display: inline-block
  .invite_to, .additional_guest
    display: block
    input[type=checkbox]
      float: left
      width: 1.5em
      margin: 0.2em 0em 0em

.page.new_guest form input[type=submit]
  margin-top: 1em