.tour
  .debbie_hirata
    .inner
      %p
        If you this is something you want, Kindreply is finally
        = succeed '.' do
          = link_to 'ready for you', '/register', class: 'do_this_next'        
      %p
        If it's close, but not quite right, we're
        = succeed '.' do
          = link_to "interested in hearing why", "/help?text=Kindreply isn't quite right for me."
