%footer
  .container
    
    %nav
      =link_to 'Privacy', '/privacy'
      |
      =link_to 'Help', '/help'
      
    .session
      = current_admin.email
      = " | " 
      =link_to t(:logout), "/logout"
