%footer
  = link_to t(:privacy), :privacy, class: 'privacy'
  = link_to t(:help), :help, class: 'help'
  - if current_admin
    = link_to t(:logout), '/logout'
  - else
    = link_to t(:sign_in), :new_admin_session
    = link_to t(:register), '/register'
