
- with_companions = @event.has_companion_events? ? 'with_companions' : 'without_companions'
= form_for @event, html: {class: with_companions } do |event_form|
  - event = @event
  - default_kinds = MainEvent::DEFAULT_KINDS.map{|k|k=[k,k]}+[[t(:other_label), '__custom__']]
  
  %fieldset#main_event
    %legend= t(:main_event)
    = render "event_fields", default_kinds: default_kinds, form: event_form, event: event, is_main: true
    - unless event.has_companion_events?
      .field.does_event_have_companion
        = label_tag do
          = t(:does_event_have_companion)
          %span.link.add_companion_event= t(:add_companion_event)
          
  - @event.companion_events.each do |event|
    - default_kinds = CompanionEvent::DEFAULT_KINDS.map{|k|k=[k,k]}+[[t(:other_label), '__custom__']]
    %fieldset.companion_event{class: event.new_record? ? 'new' : '', disabled: event.new_record? ? 'disabled' : false}
      %legend
        = t(:companion_event)
        %span.remove.link (remove)
      = event_form.fields_for :companion_events, event do |form|
        = render "event_fields", default_kinds: default_kinds, form: form, event: event, is_main: false
        
  .field.submit
    // %label Otherwise, save here and move on to adding guests
    = event_form.submit t(:submit_event)