.field.kind{class: event.special_kind? ? 'custom' : 'default'}
  = form.label :kind, (is_main ? t('kind_label.main') : t('kind_label.companion'))
  = form.select :kind, default_kinds, selected: event.special_kind? ? '__custom__' : event.kind
  = form.text_field :other_kind, {class: 'other', value: event.special_kind }
  %aside=t(:kind_field_aside)
.field.info
  = form.label :info do
    = (is_main ? t('info_label.main') : t('info_label.companion'))
  = form.text_area :info, class: 'redactor_content', placeholder: t(:info_placeholder)

