.page.support_request

  %h1 Help

  %p Kindreply is a brand new service. Please let us know how we can improve by sending us a message.

  - if response.status == 201
    %p
      - if @support_request.email?
        Thank you for your input. We will be in contact with you shortly.
      - else
        Thank you for your input. If you've a reported a problem, we will get on it.
    %p= link_to '⬅', homepage_or_my_events_path, class: 'do_this_next'
  - else
    = form_for @support_request, url: :support_request_create do |f|
      - if @support_request.errors.any?
        #error_explanation
          %ul
            - @support_request.errors.full_messages.each do |msg|
              %li= msg
      .field
        = f.label :email
        = f.email_field :email
      .field
        = f.label :body, t(:message)
        = f.text_area :body, value: params['text'] || nil
      .actions
        = f.submit 'Send'

  = render partial: 'shared/homepage_footer'
