%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .field
    = f.label :email
    = f.email_field :email, :autofocus => true
  .field
    = f.label :password
    = f.password_field :password
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .field= f.submit "Sign in"
= render "devise/shared/links"