@import 'normalize'

$black: #333 
$link: blue
$secondary_link: #aaa
$button_background: #eee
$footer_height: 3em
$input_valid_color: none

html
  display: table
  position: relative
  height: 100%
  width: 24em
  margin: 0 auto
  background: #fefefe
  
body
  margin: 0 0 $footer_height
  display: table-cell
  text-align: left
  vertical-align: middle
  min-height: 100%
  font-size: 120%

body:after
  content: ''
  display: block
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: -100

body.long_page
  display: block
  margin-top: 2em
  margin-bottom: $footer_height*2

h1,h2,h3,h4,h5,h6,p,a,dl,dd,li,label,input, address, aside
  color: $black
  font-family: 'Mercury SSm A', 'Mercury SSm B'
  font-weight: 400
  font-style: normal

h1,h2,h3,h4,h5,h6
  font-weight: 700
  

p,a,dl,dd,li,label,input, address
  font-weight: 500
  font-size: 100%

p
  text-align: justify

h1
  font-size: 150%

a
  color: gray
  text-decoration: none
  &.do_this_next
    color: blue
  &:hover, &:focus
    text-decoration: underline
  &[href^="mailto:"], &[href^="tel:"]
    color: $black

ul
  -webkit-padding-start: 0
  padding: 0
  padding-left: 1em
  list-style-type: square
ul li
  margin-bottom: 1em

address
  font-style: normal
  

footer
  position: absolute
  left: 0
  bottom: 0
  height: $footer_height
  width: 100%
  text-align: center
  a
    color: $secondary_link
    font-size: 75%
    margin-right: 1em

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=datetime],
input[type=date],
input[type=week],
input[type=month],
input[type=time],
input[type=datetime-local],
input[type=number],
input[type=url],
textarea
  width: 100%
  padding: 0.25em 0.5em 0.25em 0.25em
  box-sizing: border-box
  &.touched:required:invalid
    background: #FDD
  &.blank:required:invalid
    background: none
  &:required:valid
    background: $input_valid_color
  &.touched.blank:invalid + p.explain
    display: none
  &.touched:invalid + p.explain
    display: block
  &.touched:invalid + p.explain + aside
    display: none
  &.touched.blank + p.explain + aside
    display: block

input[type=submit]
  border: 1px solid $black
  background: $button_background
  color: $black
  padding: 0.25em 0.5em
  &:focus
    background: darken($button_background, 10%)

aside, p.explain
  line-height: 1em
  font-size: 0.75em
  margin: 0
  color: #555
  margin-top: 0.75em
aside span
  display: inline
p.explain
  display: none

.field
  label
    display: block
  input[type=checkbox]
    float: left
    width: 1.5em
    margin: 0.2em 0em 0em

.hello
  label
    display: block
    padding: 0.25em 0em
  input
    display: block
    margin: 1em 0
  input[type=text]
    width: 48%
    display: inline-block
    &:last-of-type
      margin-left: 2%
  input[type=submit]
    float: right

.page.message_new
  .field
    margin-bottom: 1em
  label
    margin-bottom: 1em
  aside
    text-align: right
  textarea
    height: 6em
  input[type=submit]
    float: right

.page.replyset_new
  .field
    margin-bottom: 1em
    &:last-of-type
      margin-bottom: 0
  .answer
    label:first-of-type
      margin-right: 0.25em
  label
    display: inline
  input[type=radio]
    margin-left: 0.25em
  input[type=submit]
    margin-top: 1em
    float: right
  .field.unknown_name .field.name
    margin-top: 1em
    display: none // spring open w js

.page.replyset_create
  margin-top: 4em
  margin-bottom: 4em
  p
    text-align: left
  p:last-child:after
    content: '❖'
    display: block
    text-align: center
    margin-top: 1em

.new_admin
  .field
    margin-bottom: 1em
    input

.page.support_request
  .field
    margin-bottom: 1em
    &:last-of-type
      margin-bottom: 0
  input[type=submit]
    float: right
  textarea
    width: 100%
    min-height: 6em

// responsive thoughts
// @media screen and (max-width: 500px)
//   label, p, input
//     font-size: 1.3em
//   html
//     display: block
//     width: 90%
//     padding: 0.5em
//   body
//     display: block
//   p:first-child
//     margin-top: 0.25em

@import 'tour'