@import 'normalize'
@import 'redactor'
@import 'redactor_custom'
@import 'dashboard/variables'

$black: #333

html
  position: relative
  min-height: 100%

*
  border-sizing: border-box
  font-family: 'Mercury SSm A', 'Mercury SSm B'
  font-weight: 400
  font-style: normal

$footer_margin_top: $grid*8
$footer_height: $grid*7 + $footer_margin_top

body
  margin: 0 auto $footer_height
  
main, .container
  margin: auto
  max-width: 30em

body > footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: $footer_height - 1px
  @extend .clearfix
  .container
    margin-top: $footer_margin_top
    border-top: 1px solid $rule_color
    padding-top: $grid*1
  nav
    float: left
  .session
    float: right

a, .link
  color: $link_text
  text-decoration: none
  cursor: pointer

button, .btn, input[type=submit]
  border: 0
  background: #eee
  color: #333
  border: 1px outset $rule_color
  padding: 0.5em
  &:focus, &:hover
    background: #f7f7f7
  &.secondary
    background: white
  &.secondary:focus, &.secondary:hover
    background: #eee

.actions
  text-align: right
  margin-top:    2em
  margin-bottom: 2em
  a+a
    display: inline-block
    margin-left: 0.5em

#flash
  background: $headband_color
  .notice, .alert
    padding: $grid
    p
      margin: 0
  .notice
    background: $notice
  .alert
    background: $alert

header
  @extend .clearfix
  padding-top: $grid*2
  padding-bottom: $grid
  background: $headband_color
  h1
    font-size: $font_size*2
    line-height: $line_height*2
    width: $column1_width
    margin: 0
    float: left
    span
      font-size: $font_size*2
      line-height: $line_height*2

header+nav
  margin: 0
  
  .container
    padding: 2*$grid 0 ($grid - 1px)
    border-bottom: 1px outset $rule_color
  a:first-child
    border-left: 1px solid $rule_color
    margin-left: 0.5em
  a
    background: white
    border-top: 1px solid $rule_color
    border-right: 1px solid $rule_color
    padding: $grid
    position: relative
    
    border-bottom: 1px solid $rule_color
    bottom: 1px
    padding-top: $grid - 1px
    
    &.active
      padding-top: $grid
      border-bottom: none
      bottom: 0

.page
  margin-top: $grid

$delete: #777

fieldset
  border: 0
  padding: 0
  margin: $grid 0 0
  legend
    font-weight: bold
    margin-bottom: $grid
    span.remove
      font-weight: normal
      color: $delete
  &.new
    display: none

input[type=text]
  border: 1px solid $rule_color
.redactor_box
  background: none
  border: none
.redactor_box .redactor_editor
  border: 1px solid $rule_color
.redactor_box .redactor_toolbar
  border: 1px solid $rule_color
  border-bottom: none
input[type=text], .redactor_editor, .redactor_editor:focus
  padding: $grid
  background: white

// duplicated
aside, p.explain
  line-height: 1em
  font-size: 0.75em
  margin: 0
  color: #555
  margin-top: 0.75em
aside span
  display: inline
p.explain
  display: none


.field
  position: relative
  margin-top: $grid*2
  margin-bottom: $grid
  label
    margin-bottom: $grid
    display: block
  input
    display: block
  select
    border: 1px solid $rule_color
    height: $line_height+$grid*2 + 1px
    min-width: 7em
  select+input.other
    display: inline-block
    margin-left: $grid
  label

// state machine
form
  legend
    display: none
  &.with_companions
    legend
      display: block
  
 
// state machine
.field.kind
  aside
    display: none
  &.default
    select
      display: inline-block
    input[type=text]
      display: none
  &.custom
    select
      display: inline-block
    input[type=text]
      display: inline-block
      width: 15em
  &.explain
    aside
      display: block

.short_name_input
  position: relative
  span
    position: absolute
    padding: $grid
    color: gray
  input[type=text]
    padding-left: 8.4em

@import 'dashboard/guests'

.clearfix
  zoom: 1
  &:before, &:after
    content: "\0020"
    display: block
    height: 0
    overflow: hidden  
  &:after
    clear: both