$aspect: 2/3
$width: 800px
$height: $width * $aspect

.tour
  width: $width
  img
    margin: 0 auto
    display: block

.tour nav
  text-align: center
  font-size: 2em
  font-family: "Mercury SSm A", "Mercury SSm B"
  a:hover
    text-decoration: none

.debbie_hirata
  width: 16em
  height: $height
  margin: 0 auto
  display: table
  .inner
    display: table-cell
    vertical-align: middle
  p
    font-size: 150%
    font-style: italic
    text-align: center
  p+p
    font-size: 100%