!!!
%html
  %head
    %title Kindreply
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6241872/771164/css/fonts.css" />
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = javascript_include_tag "mixpanel"
    <meta name="viewport" content="width=device-width">
  %body{class: @long_page ? 'long_page' : nil}
    = render 'shared/flash'
    = yield
