!!!
%html
  %head
    %title Kindreply
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6241872/771164/css/fonts.css" />
    = stylesheet_link_tag    "dashboard", media: "all"
    = javascript_include_tag "dashboard"
    = csrf_meta_tags
    = javascript_include_tag "mixpanel"
  %body
    = render 'shared/flash'
    %header
      .container        
        %p
          = link_to( t(:my_events), my_events_path)
          - if @event
            - uri_without_scheme = site_url(@event).split('//', 2)[1]
            = precede ' > ' do
              = link_to( uri_without_scheme, site_path( @event), target: '_blank')
    
    %nav#nav
      .container
        - if @event
          - class_names = (params[:controller] == 'events') ? 'active' : ''
          = link_to main_event_path(@event), {class: class_names} do
            = t(:event)
          - class_names = %w{guests parties}.include?(params[:controller]) ? 'active' : ''
          = link_to guests_show_path(@event), {class: class_names} do
            = t(:guests)
          - if @event.unexpected_guest_messages.any?
            - class_names = (params[:controller] == 'messages') ? 'active' : ''
            = link_to messages_show_path(@event), {class: class_names} do
              = t(:messages)
    = yield
    = render 'shared/footer'
