!!!
%html
  %head
    %title Kindreply
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6241872/771164/css/fonts.css" />
    %style
      = Rails.application.assets.find_asset('application.css').to_s.html_safe
    %script
      = Rails.application.assets.find_asset('application.js').to_s.html_safe
    = javascript_include_tag "mixpanel"
  %body{class: @long_page ? 'long_page' : nil}
    = yield
